
:root {
  --pan-color: #090;

  --pan-layout-left-left: 0px;
  --pan-layout-left-width: 340px;
  --pan-layout-left-background-color: rgba(0, 122, 204, .7);
  --pan-layout-left-background-image: url(../images/left-background.jpg);
  --pan-layout-left-top-width: 250px;

  --pan-layout-header-height: 50px;
  --pan-layout-footer-height: 30px;
}

