<section class="pan-layout-footer">
  <div class="pan-layout-footer-left">
    {% if site.github.is_project_page %}
    <div class="repo-owner">
      <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
    </div>
    {% endif %}
  </div>

  <div class="pan-layout-footer-right">
    <div>Theme designed and maintained by <a target="_blank" href="https://github.com/christianezeani">Christian Ezeani</a>.</div>
  </div>
</section>
