<h1 id="member">Member</h1>
<hr>
<h2 id="lecturers">Lecturers</h2>
<ul>
<li>Assoc. Dr. Nguyen Phuong Thai</li>
<li>TS. Nguyen Van Vinh</li>
</ul>
<h2 id="trainers-create-resources">Trainers create resources</h2>
<ul>
<li>MSc. Vu Huy Hien (will become a PhD student at Tokyo University from October 2019)</li>
<li>MSc. Nguyen Minh Thuan</li>
<li>CN. Nguyen Hoang Quan</li>
</ul>
<h2 id="fellows">Fellows</h2>
<ul>
<li>MSc. Tran Hong Viet</li>
<li>MSc. Bui Van Tan</li>
<li>MSc. Ngo Thi Vinh</li>
<li>MSc. Dang Thanh Quyen</li>
<li>MSc. Luan</li>
<li>MSc. Huy</li>
</ul>
<h2 id="student">Student</h2>
<ul>
<li>Dinh Khac Quy (K60 UET)</li>
<li>Japanese market-oriented IT group of 4 (UET)</li>
</ul>
<h2 id="co-operate">Co-operate</h2>
<ul>
<li>Assoc. Dr. Nguyen Le Minh: Japan Advanced Science and Technology Institute (JAIST)</li>
<li>Assoc. Dr. Le Anh Cuong: Ton Duc Thang University</li>
<li>TS. Dao Nga My: Japanese Language and Culture Faculty, Hanoi University of Agriculture, VNU</li>
<li>TS. Pham Van Lam: Institute of Linguistics, Vietnam Academy of Social Sciences</li>
</ul>
<h2 id="old-member">Old member</h2>
