<h1 id="th-nh-vi-n">Thành viên</h1>
<hr>
<h2 id="gi-ng-vi-n">Giảng viên</h2>
<ul>
<li>PGS. TS. Nguyễn Phương Thái</li>
<li>TS. Nguyễn Văn Vinh</li>
</ul>
<h2 id="gi-ng-vi-n-t-o-ngu-n">Giảng viên tạo nguồn</h2>
<ul>
<li>ThS. Vũ Huy Hiển (sẽ trở thành NCS tại ĐH Tokyo từ tháng 10/2019)</li>
<li>ThS. Nguyễn Minh Thuận</li>
<li>CN. Nguyễn Hoàng Quân</li>
</ul>
<h2 id="nghi-n-c-u-sinh">Nghiên cứu sinh</h2>
<ul>
<li>ThS. Trần Hồng Việt</li>
<li>ThS. Bùi Văn Tân</li>
<li>ThS. Ngô Thị Vinh</li>
<li>ThS. Đặng Thanh Quyền</li>
<li>ThS. Luân</li>
<li>ThS. Huy</li>
</ul>
<h2 id="sinh-vi-n">Sinh viên</h2>
<ul>
<li>Đinh Khắc Quý (K60 UET)</li>
<li>Nhóm 4 em ngành CNTT định hướng thị trường Nhật Bản (UET)</li>
</ul>
<h2 id="h-p-t-c">Hợp tác</h2>
<ul>
<li>PGS. TS. Nguyễn Lê Minh: Viện KH&amp;CN Tiên tiến Nhật Bản (JAIST)</li>
<li>PGS. TS. Lê Anh Cường: Trường ĐH Tôn Đức Thắng</li>
<li>TS. Đào Nga My: Khoa Ngôn ngữ và Văn hóa Nhật Bản, Trường ĐHNN, ĐHQGHN</li>
<li>TS. Phạm Văn Lam: Viện Ngôn ngữ học, Viện Hàn Lâm KHXH Việt Nam</li>
</ul>
<h2 id="c-u-th-nh-vi-n">Cựu thành viên</h2>
