---

{% if page.language == 'cn' %}

### 分页

{% else %}

### Pagination

{% endif %}

{% for post in paginator.posts %}
*   <p>`{{ post.path }}`              =>    [{{ post.url }}]({{ post.url }})</p>
{% endfor %}

<nav>
    {% if page.is_default_language %}
    {% assign url_pre = '/' | prepend: site.baseurl | replace: '//', '/' %}
    {% else %}
    {% assign url_pre =  page.language | prepend: site.baseurl | replace: '//', '/' %}
    {% endif %}
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li>
        <a href="{{ paginator.previous_page_path }}" aria-label="Previous">
            <span>{{ site.data.i18n[page.language].previous_page }}</span>
        </a>
        </li>
        {% else %}
        <li class='disabled'>
        <a>
            <span>{{ site.data.i18n[page.language].previous_page }}</span>
        </a>
        </li>
        {% endif %}
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class='active'><a>{{ page }}</a></li>
        {% elsif page == 1 %}
        <li>
        <a href="{{ url_pre }}">{{ page }}</a>
        </li>
        {% else %}
        <li>
        <a href="{{ site.paginate_path | prepend: url_pre | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <li>
        <a href="{{ paginator.next_page_path }}" aria-label="Next">
            <span>{{ site.data.i18n[page.language].next_page }}</span>
        </a>
        </li>
        {% else %}
        <li class='disabled'>
        <a>
            <span>{{ site.data.i18n[page.language].next_page }}</span>
        </a>
        </li>
        {% endif %}
    </ul>
</nav>
