---

{% if page.language == 'cn' %}

#### 仅在文章页面可用的变量

{% else %}

#### Variables only for post

{% endif %}

{% if page.next_in_language %}
*  `page.next_in_language` => `{{ page.next_in_language.path }}` => [{{ page.next_in_language.url }}]({{ page.next_in_language.url }})
{% else %}
*  `page.next_in_language` => `nil`
{% endif %}

{% if page.previous_in_language %}
*  `page.previous_in_language` => (`{{ page.previous_in_language.path }}` =>
[{{ page.previous_in_language.url }}]({{ page.previous_in_language.url }}))
{% else %}
*  `page.previous_in_language` => `nil`
{% endif %}

