---

{% if page.language == 'cn' %}

#### site 相关的变量

{% else %}

#### Variables for site

{% endif %}

* `site.pages`

{% for page in site.pages %}

    *   <p>`{{ page.path }}`              =>    [{{ page.url }}]({{ page.url }})</p>

{% endfor %}

    ---

* `site.posts`

{% for post in site.posts %}

    *   <p>`{{ post.path }}`              =>    [{{ post.url }}]({{ post.url }})</p>

{% endfor %}

    ---

* `site.posts_by_language['{{ page.language }}']`

{% for post in site.posts_by_language[page.language] %}

    *   <p>`{{ post.path }}`              =>    [{{ post.url }}]({{ post.url }})</p>

{% endfor %}

    ---

* `site.pages_by_language['{{ page.language }}']`

{% for page in site.pages_by_language[page.language] %}

    *   <p>`{{ page.path }}`              =>    [{{ page.url }}]({{ page.url }})</p>

{% endfor %}
