html, body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333;
  width: 100vw;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  &, &:link, &:visited {
    color: rgb(0, 122, 204);
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1rem; }
h4 { font-size: .8rem; }
h5 { font-size: .7rem; }
h6 { font-size: .6rem; }

.pan-text-lighter {
  font-weight: lighter;
}

.pan-layout {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
