.nav-up {
  top: -100%;
}

.nav-down {
  top: 0;
}

.navbar {
  background-color: #46A5E5;         
  border-radius: 0%;   
  font-size: 16px;
}

.navbar li a {
  text-align: center;
  padding: 0px 28px 0px 0px;
  text-decoration: none;    
}

.navbar li a:hover {
  color: rgb(122, 202, 255);
  background-color: #46A5E5;
}

.navbar li a.active {   
  color: rgb(122, 202, 255);
}

.navbar #log_out:hover {
  color: rgb(122, 202, 255);
  background-color: #46A5E5;
}

.navbar .icon-bar {
  background-color: #ffffff;
}

.navbar #btn_menu:hover {
  color: rgb(204, 204, 204);
}

.navbar #btn_menu {
  float: left; 
  width: 50px; 
  color: rgb(241, 241, 241);
  margin-bottom: 10px;
  border: none;
  outline: none;
}

#ul_lang {
  font-size: 16px;
  color: yellow;  
  float: right; 
}

#div_content {
  font-size: 16px;
}