.pan-layout-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: var(--pan-layout-header-height);
  background-color: #FFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
  z-index: 10;

  > * {
    position: absolute;
    top: 0px;
    bottom: 0px;

    > * {
      @include v-center;
    }
  }

  &__menutoggle {
    display: var(--pan-menutoggle-display);
    cursor: pointer;
    left: 0px;
    width: 50px;
    border-right: 1px solid #F0F0F0;
    text-align: center;
  }

  &__content {
    left: 50px;
    right: 0px;
    padding: 0px 20px;
  }

  &__avatar {
    text-align: right;
    @include clearfix;
    @include v-center;

    > * {
      // float: right;
      margin-left: 10px;
    }

    a {
      display: inline-block;
      width: 40px;
      height: 40px;

      > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        vertical-align: middle;
      }
    }

  }
}
